<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
<listeners>
		<listener class-name="com.test.report.TestListener" />
	</listeners>
	<test thread-count="5" name="Test">
		<classes>

			<class name="com.test.testcases.TestCases">
				<methods>
 					<include name="verifyHomePageByClickingSideBarBtn" />
					<include name="verifyHomePageByClickingOnNavigationBarBtn" />
					<include name="verifyHomePageByClickingOnProjectName" />
					<include name="verifyBooksByClickingOnSideBarBtn" />
					<include name="verifyBooksByClickingOnNavigationBarBtn" />
					<include name="searchBook" />
					<include name="createBook" />
					<include name="createBookWithTitleLessThan8Char" />
					<include name="clearTextBoxWhileCreateBook" />
					<include name="editBook" />
					<include name="editBookWithTitleLessThan8Char" />
					<include name="clearTextBoxWhileEditBook" />
					<include name="deleteBook" />
					<include name="verifyAuthorsByClickingOnSideBarBtn" />
					<include name="verifyAuthorsByClickingOnNavigationBarBtn" />
					
					
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- TestSuite -->
